{% extends '@FOSUser/fos_layout.html.twig' %}

{% block fos_user_content %}
    <div class="panel-tab-body">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="registration container-fluid">
                    {#<div class="socBnts top">#}

                    {#</div>#}
                    {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
                    {#<label class="labelInput" for="username">Введите email</label>#}
                    {#<input class=" form-control" placeholder="Введите e-mail" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}
                    {#<label class="labelInput" for="password">Введите пароль</label>#}
                    {#<input class="input" placeholder="Введите пароль" type="password" id="password" name="_password" required="required" />#}

                    {#<div class="btnLine">#}
                    {#<input class="greenBtn" type="submit" id="_submit" name="_submit" value="Войти" />#}
                    {#</div>#}
                    {#<div class="forgotPass">#}
                    {#<a href="{{ path('fos_user_resetting_request') }}">Забыл пароль</a>#}
                    {#</div>#}

                    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
                    {#</form>#}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in show" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title">PhAdDb Planner :: Авторизация</h4>
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Вы ввели неправильный email или  пароль.
                        </div>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post" id="login" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 ">
                                <span class="registration-label">Email</span><br>
                                <input class="form-control" type="text" id="username" name="_username" value="">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 ">
                                <span class="registration-label">Пароль</span><br>
                                <input class="form-control" type="password" id="password" name="_password">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text-right">
                                <a href="{{ path('fos_user_resetting_request') }}" style="float: left">Восстановление пароля</a>
                                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Войти" />
                            </div>
                        </div>

                        {{ render(controller('AppBundle:Auth:csrfToken')) }}
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock fos_user_content %}