<html>
    <body>
        <strong>Уведомление с сайта PhAdDb Planner</strong><br />
        <p>Пользователь <a href="{{ url('user_edit',{'id' : user.id}) }}">{{ user }}</a> {{ event }} {{ entity }}</p>
        <p>Подробнее об действях данного пользователя можно узнать по <a href="{{ url('report_list',{'id' : user.id }) }}">ссылке</a></p>
    </body>
</html>