<html>
    <body>
        <strong>Уведомление с сайта BhDPlaner</strong><br />
        <p>Пользователь <a href="{{ url('user_edit',{'id' : user.id}) }}">{{ user }}</a> {{ event }} <a href="{{ link }}">{{ entity }}</a></p>
        <p>Подробнее об действях данного пользователя можно узнать по <a href="#">ссылке</a></p>
    </body>
</html>