{% extends '@App/layout.html.twig' %}

{% block title %}Список прайс-листов{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path("mediaplan_list") }}">Главная</a></li>
        <li class="active">Прайс-листы</li>
        {% if magazine != null %}
            <li>{{ magazine.title }}</li>
        {% endif %}
        <div style="float: right" class="btn-add">
            <a href="{{ path('price_add') }}" class="btn btn-primary">Добавить</a> <span class="divider"></span>
        </div>
    </ol>

{% endblock %}

{% block content %}
    <label>Фильтр</label>
    <form method="GET">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 filter">
                <select class="" data-placeholder="Издательсво" name="house">
                    <option value="null">Все издательства</option>
                    {% for item in houses %}
                        <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 filter">
                <select class="" data-placeholder="Издание" name="magazine">
                    <option value="null">Все издания</option>
                    {% for item in magazines %}
                        <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 filter">
                <select class="" data-placeholder="Формат" name="format">
                    <option value="null">Все форматы</option>
                    {% for item in formats %}
                        <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-1">
                <button class="btn-xs btn-primary" type="submit">Найти</button>
            </div>
        </div>
    </form>
    <br />
    <table class="table table-hover table-custom">
        <tr>
            <th>ID</th>
            <th>Журнал</th>
            <th>Год</th>
            <th>Формат</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        {% for item in pagination %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.magazine }}</td>
                <td>{{ item.year }}</td>
                <td>{{ item.format }}</td>
                <td>{{ item.price }}</td>
                <td class="setting">
                    <a href="{{ path('price_edit', {'id' : item.id} ) }}"><button class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Просмотр / Редактировать</button></a>
                    <button class="btn-xs btn-danger remove" data-toggle="modal" data-target="#confirm-delete" data-href="{{ path('price_remove', {'id' : item.id} ) }}"><span class="glyphicon glyphicon-remove"></span> Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}