{% extends '@App/layout.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li class="active">Список цен</li>
        <div style="float: right">
            <a href="{{ path('price_add') }}" class="btn btn-primary">Добавить</a> <span class="divider"></span>
        </div>
    </ol>

{% endblock %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Журнал</th>
            <th>Год</th>
            <th>Формат</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        {% for item in pagination %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.magazine }}</td>
                <td>{{ item.year }}</td>
                <td>{{ item.format }}</td>
                <td>{{ item.price }}</td>
                <td class="setting">
                    <a href="{{ path('price_edit', {'id' : item.id} ) }}"><button class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Изменить</button></a>
                    <button class="btn-xs btn-danger" data-href="{{ path('price_remove', {'id' : item.id} ) }}"><span class="glyphicon glyphicon-remove"></span> Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}