{% extends '@App/layout.html.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li class="active">Список пользователей</li>
        <div style="float: right">
            <a href="{{ path('user_add') }}" class="btn btn-primary">Добавить</a> <span class="divider"></span>
        </div>
    </ol>
{% endblock %}

{% block content %}
    <table class="table table-hover table-custom">
        <tr>
            <th>ID</th>
            <th>Ф.И.О.</th>
            <th>Логин</th>
            <th>Email</th>
            <th>Роли</th>
            <th></th>
        </tr>
        {% for item in pagination %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.lastName }} {{ item.firstName }} {{ item.surName }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.roles | join(', ') }}</td>
                <td class="setting">
                    <a href="{{ path('user_edit', {'id' : item.id} ) }}"><button class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Изменить</button></a>
                    <button class="btn-xs btn-danger" data-href="{{ path('user_remove', {'id' : item.id} ) }}"><span class="glyphicon glyphicon-remove"></span> Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}