{% extends '@App/layout.html.twig' %}

{% block title %}Список медиапланов{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path("mediaplan_list") }}">Главная</a></li>
        <li class="active">Список медиапланов</li>
        <div style="float: right" class="btn-add">
            <a href="{{ path('mediaplan_add') }}" class="btn btn-primary">Добавить</a> <span class="divider"></span>
        </div>
    </ol>

{% endblock %}

{% block content %}
    <label>Фильтр</label>
    <form method="GET">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2 filter">
                <select class="" data-placeholder="Год" name="year">
                    <option value="null">Год</option>
                    <option value="null">Все года</option>
                    <option value="2015" {{ params['year'] == 2015 ? 'selected' : '' }}>2015</option>
                    <option value="2016" {{ params['year'] == 2016 ? 'selected' : '' }}>2016</option>
                    <option value="2017" {{ params['year'] == 2017 ? 'selected' : '' }}>2017</option>
                    <option value="2018" {{ params['year'] == 2018 ? 'selected' : '' }}>2018</option>
                    <option value="2019" {{ params['year'] == 2019 ? 'selected' : '' }}>2019</option>
                    <option value="2020" {{ params['year'] == 2020 ? 'selected' : '' }}>2020</option>

                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 filter">
                <select class="" data-placeholder="Издательсво" name="house">
                    <option value="null">Все издательства</option>
                    {% for item in houses %}
                        <option value="{{ item.id }}" {{ params['house'] == item.id ? 'selected' : '' }}>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 filter">
                <select class="" data-placeholder="Издание" name="magazine">
                    <option value="null">Все издания</option>
                    {% for item in magazines %}
                        <option value="{{ item.id }}" {{ params['magazine'] == item.id ? 'selected' : '' }}>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 filter">
                <select class="" data-placeholder="Компания" name="company">
                    <option value="null">Все компании</option>
                    {% for item in companies %}
                        <option value="{{ item.id }}" {{ params['company'] == item.id ? 'selected' : '' }}>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 filter">
                <select class="" data-placeholder="Формат" name="format">
                    <option value="null">Все форматы</option>
                    {% for item in formats %}
                        <option value="{{ item.id }}" {{ params['format'] == item.id ? 'selected' : '' }}>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-1">
                <button class="btn-xs btn-primary" type="submit">Найти</button>
            </div>
        </div>
    </form>
    <br />
    <table class="table table-hover table-custom">
        <tr>
            <th>Компания</th>
            <th>Номер договора</th>
            <th>Год</th>
            <th>Периодичность<br />Тираж</th>
            <th>Распростр.</th>
            <th>Формат</th>
            <th>Кол-во публикаций</th>
            <th></th>
        </tr>
        {% for item in pagination %}
            <tr>
                <td>{{ item.company }}</td>
                <td>{{ item.contractNumber }}</td>
                {#<td>{{ item.idn }}</td>#}
                <td class="text-center">{{ item.year }}</td>
                <td>{{ item.magazine.periodicity }} <br />{{ item.magazine.circulation }}</td>
                <td>{{ item.magazine.spread | join(', ') }}</td>
                <td class="text-center">{{ item.magazine.format }}</td>
                <td class="text-center">{{ item.goods | length }}</td>
                <td class="setting" style="width: 500px">
                    <a href="{{ path('mediaplan_print', {'id' : item.id} ) }}"><button class="btn-xs btn-success"><span class="glyphicon glyphicon-print"></span> Сохранить / Печать</button></a>
                    <a href="{{ path('mediaplan_edit', {'id' : item.id} ) }}"><button class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Просмотр / Редактировать</button></a>
                    <button class="btn-xs btn-danger remove" data-toggle="modal" data-target="#confirm-delete" data-href="{{ path('mediaplan_remove', {'id' : item.id} ) }}"><span class="glyphicon glyphicon-remove"></span> Удалить</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}