{% extends '@App/layout.html.twig' %}

{% block title %}Список медиапланов{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path("mediaplan_list") }}">Главная</a></li>
        <li class="active">Список медиапланов</li>
        <div style="float: right" class="btn-add">
            <a href="{{ path('mediaplan_add') }}" class="btn btn-primary">Добавить</a> <span class="divider"></span>
        </div>
    </ol>

{% endblock %}

{% block content %}
    <label>Медиаплан {{ item.contractNumber }}</label>
    <table class="table table-hover table-custom">
        <tr>
            <th>Месяц</th>
            <th>Издательство</th>
            <th>Издание</th>
            <th>Тираж</th>
            <th>Периодичность</th>
            <th>Распространение</th>
            <th>Формат</th>
            <th>Стоимость</th>
        </tr>
        {% for good in item.goods %}
            <tr>
                <td>{{ good.monthStr }}</td>
                <td>{{ good.price.magazine.house }}</td>
                <td>{{ good.price.magazine }}</td>
                <td>{{ good.price.magazine.circulation }}</td>
                <td>{{ good.price.magazine.periodicity }}</td>
                <td>{{ good.price.magazine.spread | join(',') }}</td>
                <td>{{ good.price.format }}</td>
                <td>{{ good.price.price }} руб.</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}